//animaciones
.typewriterwidth{
  &__welcome{
    font-size: large;
    margin-inline: auto;
    height: 4rem;
    width: 200px;
  }

  &__forfilters{
    height: 4rem;
    width: 300px;
    margin-bottom: 4rem;
  }

  &__forprofile{
    height: 4.5rem;
    width: 300px;
  }

  &__forcart{
    height: 3.5rem;
    width: 240px;
  }
}

.entrance {
    letter-spacing: 7px !important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    /* Inicia con color hsl(0, 0%, 80%) */
    white-space: nowrap;
    animation: typewriter 2s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms 10 normal forwards;
    /* Detener la animación después de 5 segundos y mantener el estado final */
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 360px;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
  
    to {
      border-right-color: transparent;
    }
  }
  
  
  .entrance2 {
    letter-spacing: 7px !important;
    overflow: hidden;
    border-right: 2px solid transparent;
    /* Inicia con color transparente */
    white-space: nowrap;
    animation: typewriterr 2s steps(44) 5s 1 normal both,
      blinkTextCursorr 500ms infinite 6s;
    /* Inicia después de 5 segundos */
  }
  
  @keyframes typewriterr {
    from {
      width: 0;
    }
  
    to {
      width: 248px;
    }
  }

  @keyframes typewriterrr {
    from {
      width: 0;
    }
  
    to {
      width: 230px;
    }
  }

  @keyframes typewriterprof {
    from {
      width: 0;
    }
  
    to {
      width: 500px;
    }
  }
  
  @keyframes blinkTextCursorr {
    from {
      border-right-color: transparent;
    }
  
    to {
      border-right-color: hsl(0, 0%, 80%);
    }
  }

  .planetarytext1{
    height: 2rem;
    letter-spacing: 3px !important;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriterrr 3s steps(27)  1s 1 normal both ,
  }

  .planetarytext2{
    height: 2rem;
    letter-spacing: 3px !important;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 3s steps(48)  4s 1 normal both,
  }

  .planetarytext3{
    height: 2rem;
    letter-spacing: 3px !important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriterrr 4s steps(30) 7s infinite ,
      blinkTextCursor 500ms infinite;
  }

  .errorfound{
    letter-spacing: 3px !important;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 1s steps(48)  1s 1 normal both ,
      blinkTextCursor 500ms infinite;
  }

  .errorfound1{
    letter-spacing: 3px !important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1s steps(48)  2s 1 normal both ,
      blinkTextCursor 500ms infinite;
  }

  .profmessage{
    @extend .errorfound;
    animation: typewriterprof 1s steps(48)  1s 1 normal both ,
    blinkTextCursor 500ms infinite;
  }

  .profmessage2{
    @extend .errorfound1;
    animation: typewriterrr 1s steps(48)  2s 1 normal both ,
    blinkTextCursor 500ms infinite;
  }

  .profmessage3{
    @extend .errorfound1;
    animation: typewriterprof 1s steps(48)  2.5s 1 normal both ,
    blinkTextCursor 500ms infinite;

    &__word{
      color: var(--background);
      text-decoration: underline;
    }
  }

  .profmessage4{
    @extend .errorfound1;
    animation: typewriterprof 1s steps(48) 1s 1 normal both ,
    blinkTextCursor 500ms infinite;

  }

  .dalerobot{
    width: 100% !important;
    height: 100% !important ;
  }
    
//

@import url(https://fonts.googleapis.com/css?family=Montserrat);
.containery {
  display: flex;
  height: 10%;
  align-items: center;
}

.loopertitle {
    display: block;
    font: 10.5em 'Montserrat';
    width: 500px;
    height: 100px;
    margin: 0 auto;
}
.loopertitleSm {
    @extend .loopertitle;
    font: 8.5em 'Montserrat';
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: var(--black);
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #840037;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: var(--black);
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}