.cart {
    margin-right: 2rem;
    margin-left: 2rem;
}

.css-jcn4dz-MuiBadge-badge{
    background-color: var(--background) !important;
}

.carro {
    border-radius: 8px;
    background-color: var(--black);
    width: 60rem;
    min-height: 25rem;
    color: var(--white);
    padding: 2rem;

    &__samples{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
        
        &--names{
            width: 20rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    &__price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5rem;
        padding-top: 1rem;

        &--color{
            color: var(--background);
            font: bold;
        }
    }

    &__close{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__remove {
        cursor : pointer;
        margin-left: 2rem;
    }

    &__goback{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 15rem;


    }
}

.btnCheck{
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    height: 2rem;
    width: 6rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to left, #45496d 50%, rgba(131,58,180,1) 50%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%);
    background-size: 200%;        
    background-position: right; /* Inicialmente, el fondo está en la parte inferior */
    transition: background-position 0.6s;

    &__display{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &:hover {
        background-position: left;
    }
}

.dborder{
    border-top: 2px solid var((--white));
}