
* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

  @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik+Mono+One&family=Sofia+Sans:wght@400;500;700&display=swap');

a {
    text-decoration: inherit;
    color: red;
}

.Links{
    text-decoration: inherit;
    color: white;
}


a:hover {
    color: rgb(255, 255, 255);
}

ul li {
    list-style: none;
}

// .spinner {
//     position: absolute;
//     top: 24rem;
//     right: 45rem;
// }

body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
  
    --background: var(--dynamic);
    --accent: var(--white);
    font-family: 'Nunito', sans-serif;
    // font-family: 'Rubik Mono One', monospace;
    background-image: url(../Imagenes/fondo.PNG);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}


.principal{
    color: var(--background);
}

// body::-webkit-scrollbar {
//     width: 8px;
//     background-color: rgb(0, 0, 0,);
// }

// body::-webkit-scrollbar-thumb {
//     background-color: $color-principal;
//     border-radius: 10px;
//     border-right: 4px solid rgba(255, 255, 255, 0.2);
// }

//point absolutes

.point{
    position: relative;

    &__absolute{
      position: absolute;
      top: 1.5rem;
      left: 0rem;
      height: 27rem;
      width: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__absolute--2{
      position: absolute;
      left: 25rem;
      height: 35rem;
      width: 50rem;
    }

    &__absolute--3{
      position: absolute;
      top: 31rem;
      left: 14rem;
    }

    &__absolute--4{
      position: absolute;
      top: 34rem;
      left: 17.5rem;
    }

    &__absolute--5{
      position: absolute;
      top: 3rem;
      left: 8rem;
      height: 24rem !important;
      width: 30rem !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__absolute--5b{
      @extend .point__absolute--5;
      top: 1rem;

    }

    &__absolute--5c{
      @extend .point__absolute--5;
      top: 1rem;

    }

    &__absolute--6{
      @extend .point__absolute--5;
      top: -1rem;
      left: 14rem;
    }

    &__absolute--7{
      @extend .point__absolute--5;
      top: 0.8rem;
      left: 9rem;
    }
    
    &__absolute--8{
      @extend .point__absolute--5;
      top: 1rem;
      left: 10rem;
    }
    



  }

  .subtitulos{
    font-family: 'Sofia Sans', sans-serif;;
  }

  .titulos{
    font-family: 'Rubik Mono One';
    
    &__cart{
      font-family: 'Rubik Mono One';
    }
  }

.zindex{
  z-index: 1;
}