
* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: inherit;
    color: red;
}

.Links{
    text-decoration: inherit;
    color: white;
}

a:hover {
    color: rgb(255, 255, 255);
}

ul li {
    list-style: none;
}

// .spinner {
//     position: absolute;
//     top: 24rem;
//     right: 45rem;
// }

body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
  
    --background: var(--purple);
    --accent: var(--white);
    font-family: 'Nunito', sans-serif;
    background-image: url(../Imagenes/fondo.PNG);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}


.principal{
    color: var(--purple) ;
}


// body::-webkit-scrollbar {
//     width: 8px;
//     background-color: rgb(0, 0, 0,);
// }

// body::-webkit-scrollbar-thumb {
//     background-color: $color-principal;
//     border-radius: 10px;
//     border-right: 4px solid rgba(255, 255, 255, 0.2);
// }
.point{
    position: relative;

    &__absolute{
      position: absolute;
      top: 4rem;
      left: 0rem;
      height: 25rem;
      width: 30rem;
    }

    &__absolute--2{
      position: absolute;
      top: 2rem;
      left: 25rem;
      height: 35rem;
      width: 50rem;
    }
  }