@media screen and (max-width: 1390px) {

    .point__absolute{
        top: 1.5rem;
        left: -5rem;
        height: 23rem;
        width: 30rem;

        &--5{
            left: 14rem;
        }
      }

      .sounds__tracks{
        width: 45rem;
    }

      .sounds__samples{
        align-items: flex-end;
      }

      .sounds__buttons2{
        width: 45rem;
      }
  

     .scroll{
        justify-content: flex-end;
        
}
}

@media screen and (max-width: 1180px) {
    
        .cart {
            margin-right: 0rem;
            margin-left: 4rem;
        }
    .carro {
        
        margin-top: 1rem;

        &__display {
            margin-bottom: 5rem;
            margin-top: 3rem;
        }

        &__display2 {
            margin-bottom: 8rem;
            margin-top: 4.4rem;
        }

        &__genre {
            display: none;
        }
    }

    .ntitle {
        text-align: end;
    }

    .ntitlee {
        text-align: end;
    }

    .ntitle2 {
        margin-left: 5rem;
        width: 8rem;
    }

    .ntitle2.login {
        margin-left: 5rem;
        width: 6.5rem;
    }

    .wavesurfer__info {
        width: 28rem;
    }

    .carro {
        width: 40rem;
    }


    .Base {
        margin-top: 4.2rem;
    }

   .myProfile{
    margin-top: 4.2rem;
   }
    
    .point {

        &__absolute {
            flex-direction: column;
            top: 4rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 15rem;
        }

        &__absolute--2 {
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 21.5rem;
        }

        &__absolute--5 {
            top: 4rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 15rem;
        }

        &__absolute--5b {
            top: -2rem;
        }

        &__absolute--5c {
            top: 2em;
        }

        &__absolute--6 {
            // display: none;
            z-index: 1;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            height: 20rem !important;
            width: 20rem !important;
        }

        &__absolute--7 {
            top: -2rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 15rem;
        }

        &__absolute--8 {
            top: 0rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .point__absolute{
        top: 2.2rem;
        height: 23rem;
        width: 30rem;
    }

    .sounds__buttons2{
        width: 35rem;
      }

    .sounds__tracks{
        width: 34rem;
    }
}


@media screen and (max-width: 990px) {

    .nav__toggler {
        display: block;
        cursor: pointer;
    }

    .navbar__storeprofile {
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .navbar__logincart {
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .navbar__menu {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 93vh;
        width: 60vw;
        background: var(--black);
        flex-direction: column;
        justify-content: flex-start;
        align-items: end !important;
        padding-top: 2rem;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .wavesurfer {
        height: 7rem;
        padding: 1rem !important;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        &__info {
            width: 100%;
            justify-content: space-evenly;


            &--p {
                display: none;
            }

            &--p2 {
                margin-left: .6rem;

            }

        }

        &__player {
            height: 3rem;
            width: 100%;
        }

        &__next {
            margin-left: .6rem;
        }
    }

    .volume {

        &__slider {
            margin-left: 1.1rem;
            margin-right: 1.1rem;
        }
    }



    //sounds

    .Base {
        margin-top: 3rem;
    }

    .myProfile{
        margin-top: 3rem;
    }

    .sounds{
        &__buttons2{
            padding-bottom: 0;
        }
    }

    .scroll{
        margin-top: 0 ;
        margin-bottom: 0 ;
    }

    .sounds__tracks {
        width: 25rem;
    }

    .sounds__buttons2{
        width: 28rem;
      }
}


@media screen and (min-width: 910px) {

    .loopertitleSm {
        display: none !important;
    }

    .mob {
        display: none;
    }
}

@media screen and (max-width: 910px) {

    //Giftcards
    .basegiftcards{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 3rem !important;
        padding-top: 5rem !important;
        padding-bottom: 3.5rem !important;
    
    }


    //headings
    .Base {
        margin-top: 0rem;
        margin-bottom: 8rem;
        padding-inline: 0rem;
        padding-bottom: 1.2rem;
    }



    .titulos {
        font-size: 12px;
    }


    .point {

        &__absolute {
            flex-direction: column;
            top: 4rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 15rem;
        }

        &__absolute--2 {
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 21.5rem;
        }

        &__absolute--5 {
            top: 4rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 15rem;
        }

        &__absolute--5b {
            top: -2rem;
        }

        &__absolute--5c {
            top: 2em;
        }

        &__absolute--6 {
            // display: none;
            z-index: 1;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            height: 20rem !important;
            width: 20rem !important;
        }

        &__absolute--7 {
            top: -2rem;
            left: 50%;
            transform: translateX(-50%);
            height: 22rem;
            width: 15rem;
        }

        &__absolute--8 {
            top: 0rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // Wavesurfer

    .wavesurfer {
        height: 10rem;
        padding: 1rem !important;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &__next {
            display: none;
        }
    }


    .volume {

        &__slider {
            margin-left: 0.4rem;
            margin-right: 0.4rem;
        }
    }

    //animaciones
    .typewriterwidth {
        &__forprofile {
            height: 4.5rem;
        }

        &__modal{
            width: 200px;
          }

          &__forfilters{
            width: 300px !important;
            margin-bottom: 2rem;
          }
    }

    .planetarytext1 {
        display: none;
    }

    .planetarytext2 {
        display: none;
    }

    .planetarytext3 {
        display: none;
    }

    .playlist__title {
        margin-top: 2.5rem;
        padding-left: 0rem;
        width: 20rem;
        text-align: center;
    }

    .text-copy:nth-child(4) {
        stroke: var(--white) !important;
        animation-delay: -4s;
    }

    //sounds
    .sounds {
        border-radius: 0px;
        background-color: transparent;
        flex-direction: row;
        font-size: small;
        min-height: 14rem;
        padding-top: 26rem;
        padding-inline: 0rem;
        justify-content: center;

        &__samples {
            width: 13rem;
            align-items: center;
        }

        &__buttons {
            justify-content: center;
        }

        &__buttons2 {
            z-index: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
        }

        &__tracks {
            width: 30rem;
        }
    }

    .anchoscroll {
        width: 32rem;
    }

    .scroll {
        margin-top: 0rem;
        height: 13rem;
        padding-right: 0.2;
        justify-content: center;
    }

    .scroll2 {
        margin-top: 0rem;
        height: 13rem;
        padding-right: 0.2;
    }

    .scroll2b {
        margin-top: 0rem;
        height: 13rem;
        padding-right: 0.2;
    }

    .scroll3 {
        padding-top: 5.2rem;
        margin-top: 0rem;
        height: 20rem;
    }

    //Login

    input {
        height: 2.5rem;
    }

    //Profile sounds

    .myProfile {
        margin-top: 2rem;
        margin-bottom: 7rem;
        padding-inline: 0rem;

        &__sounds {
            border-radius: 0px;
            background-color: transparent;
            padding-inline: 1.5rem;
            padding-bottom: 3rem;
            margin-bottom: 1.5rem;
            min-height: 21rem !important;
            flex-direction: column;
            align-items: center;
        }

        &__sounds2 {
            border-radius: 0px;
            background-color: transparent;
            padding-inline: 1.5rem;
            padding-bottom: 0.4rem;
            margin-bottom: 3rem;
            min-height: 26.5rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .menu {
        width: 260px;
        z-index: 1;
    }

    .outer {
        margin: 0 25px;
    }



    //Cart
    .carro {
        width: 18rem;
        font-size: small;
        min-height: 23rem !important;
        margin-top: 0rem;

        &__price {
            padding-top: .4rem;
        }

        &__display {
            margin-bottom: 8rem;
            margin-top: 1.6rem;
        }

        &__display2 {
            margin-bottom: 8rem;
            margin-top: 4.4rem;
        }

        &__genre {
            display: none;
        }
    }

    .discountcart{
        gap: .3rem;
        width: 11rem;
    }

    .cardbait{
        padding-inline: .5rem;
        padding-top: .8rem !important;

        &__2{
            width: 4.5rem !important;
        }

        &__3{
            margin-left: 2.3rem !important;
        }
    }

    .cards__title{
        width: 10rem;
    }

    .mobcards{
        width: 8rem;
    }
    
    .titulos__cart {
        font-size: 20px;
    }

    .ul3 {
        height: 6rem !important;
    }

    // .errorfound{
    //     width: 15rem !important;
    // }

    @keyframes typewriter {
        to {
            width: 250px !important;
        }
    }

    .profmessage {
        width: 12rem !important;
    }

    .profmessage2 {
        width: 11.5rem !important;
    }

    .profmessage3 {
        width: 9.6rem !important;
    }

    .notmob {
        display: none !important;
    }

    .btnCheck {
        width: 4rem;
    }

}

@media screen and (max-width: 550px) {
    .anchoscroll {
        width: 20rem;
    }

    .sounds__tracks{
        width: 18rem;
    }
}