.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .outer{
    position: relative;
    margin: 0 50px;
    background: #111;
  }
  .button{
    height: 50px;
    min-width: 180px; // Parte colorida del boton
    border-radius: 60px;
  }

  .outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .outer button{
    background: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 16px;
    z-index: 9;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .button button{
    height: 40px;
    min-width: 170px; //Parte negra del boton
    border-radius: 60px;
  }

  .outer span{
    height: 100%;
    width: 100%;
    background: inherit;
  }
  .button span{
    border-radius: 60px;
  }

  .outer:hover span:nth-child(1){
    filter: blur(7px);
  }
  .outer:hover span:nth-child(2){
    filter: blur(14px);
  }
  .outer:hover{
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  @media (max-width: 640px){
    .center{
      flex-wrap: wrap;
      flex-direction: column;
    }

  }

  .active-hover .outer span:nth-child(1),
  .active-hover .outer span:nth-child(2) {
    filter: blur(7px);
  }
  .active-hover .outer {
    /* Estilos de fondo cuando el panel está expandido */
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
  }

  .margen{
    background-color: black;
    margin-top: 8rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: bold;
  }
  


  .notvisible{
    display: none !important;
  }