.Base {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-inline: 3rem;
    gap: 1rem;

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.anchoscroll{
    width: 100%;
}

.scroll {
    // border-bottom: 2px solid #111 ;
    // border-top: 2px solid #111 ;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 20rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    overflow-y: scroll;
}

.scroll2{
    @extend .scroll;
    justify-content: flex-end;
    height: 16rem;
}

.scroll2b{
    @extend .scroll;
    justify-content: flex-end;
    // height: 16rem;
}

.scroll3{
    @extend .scroll;
    padding-left: 0;
    padding-right: 0.5rem;
    flex-direction: column;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}

.scroll::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 4px;
}

.sounds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    text-align: center;
    padding: 2rem 4rem 2rem 0rem;
    color: white;
    transition: 1s;
    min-height: 30rem;
    width: 100%;
    overflow: hidden;
    background-color: rgba(243, 243, 243, 0.3);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter:blur(6px);

    &__samples{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55rem;
    }

    &__acordeon {
        background-color: inherit !important;
        box-shadow: none !important;
        border: none !important;
        width: 17rem !important;
    }

    &__buttons2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
        width: 100%;
        z-index: 1;
    }

    &__buttons {
        font-family: $subtitulos;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        height: 3.5rem;
    }

    &__tracks {
        width: 53rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #111;
        transition: 0.6s;
        border-radius: 15px;
        margin-bottom: 8px;
        font-family: $subtitulos;
        font-size: 17px;


        &:hover {
            background-color: grayscale($color: #333333);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
            transform: scale(100.05%);
        }
    }
}


// Canvas
.filterMenu {


    height: 2.8rem;

    &__canvas {
        // background-color: var(--ash-black) !important;
        background-color: var(--ash-black) !important;
        color: var(--white) !important;
        width: 18rem !important;

        &-body {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

.btn-close{
    --bs-btn-close-color: var(--white) !important;
    background-color: var(--white) !important;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(94, 94, 95, 0.25) !important;
}

// Canvas select
// Select selected
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--background) !important;
    border-radius: 10px !important;
}

// Select notselected
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root .MuiOutlinedInput-notchedOutline {
    border-color: var(--white) !important;
    border-radius: 10px !important;
}

// input selected
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: var(--background) !important;
    margin-top: 0.25rem;
}

//input not selected 
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    color: var(--white) !important;
    margin-top: 0.25rem;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: var(--white) !important;
}

// campo select
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        background: transparent !important;
        border-radius: 10px !important;
        color: var(--white) !important;
    }

    // icono del select
    .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
        color: var(--background) !important;
    }


    //Autocomplete selected
    .css-1xlegob-MuiAutocomplete-root.Mui-focused .MuiOutlinedInput-notchedOutline{
        border-color: var(--background) !important;
        border-radius: 10px !important;

    }

    //Autocomplete not selected
.css-1xlegob-MuiAutocomplete-root .MuiOutlinedInput-notchedOutline{
    border-color: var(--white) !important;
    border-radius: 10px !important;
}

//Autocomplete input
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    color: var(--white)!important;
}

//Autocomplete cruz
.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator{
   color: var(--background) !important;
}

//Autocomplete pop indicator
.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator{
   color: var(--background) !important;

}
    
// Acordeon
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    opacity: 0 !important;
}


  
  .ul {
    display: flex;
    flex-direction: column;
    background: var(--black);
    padding: 1rem 0 0 0 ;
    // height: 20rem !important;
  }

  .ul2 {
    @extend .ul;
    overflow-y: scroll;
  }

  .ul3{
    @extend .ul;
    padding-top: 0rem;
    padding-right: 1rem;
    height: 8rem !important;
    overflow-y: scroll;
  }



  .ul::-webkit-scrollbar {
    width: 6px;
}

.ul::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border-radius: 4px;
}

.ul::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}

.ul::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 4px;
}
  
  .li {
    display: block;
    transform-origin: -20px 50%;

    &__title{
        font-weight: bold;
    color: var(--white) !important;
    
    &:hover{
        color: var(--background)!important;
    }
    }

  }
  
  .ul,
  .li {
    list-style: none;
    margin: auto;
  }
  
  .buttonn {
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttonn path {
    fill: var(--background);
}


// framer objet

.containerr {
    width: 300px;
    height: 300px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: var(--black);
    border-radius: 30px;
  }
  
  .iteme {
    width: 150px;
    height: 150px;
    background: var(--background);
    border-radius: inherit;
    cursor: -webkit-grabbing;
  }

